.tap {
  display: flex;
  padding: 24px 12px;
  border-bottom: 1px solid #BDD4DE;
}

.tap .tap-name {
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #6D7340;
  flex: 1 0 0;
  align-self: center;
  padding: 0 24px;
}

.tap .tap-keg {
  flex: 5 0 0;
}

.tap .tap-admin {
  flex: 1 0 0;
  align-self: center;
}

.tap .tap-admin a {
  display: block;
  color: #89BAD9;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  padding: 0 24px;
}

.tap .tap-admin a:hover {
  text-decoration: underline;
}

.beer-name {
  color: #638BBF;
  font-size: 1.4rem;
}

.no-service .beer-name {
  color: #89BAD9;
}

.tapped-date {
  color: #436B9F;
  font-size: 1rem;
  font-weight: 600;
}

.btn-edit {
  font-size: 12px;
  margin: 0;
  color: skyblue;
  cursor: pointer;
}



@media (max-width: 600px) {
  .tap {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .tap .tap-name {
    text-align: center;
    flex: 1;
    margin: 0 0 1em;
  }

  .tap .tap-keg {
    flex: 1;
  }
}
