/*

colour scheme

#638BBF   dark blue
#89BAD9   light blue
#EEEEEE   off grey
#F2F2F2   off white
#59596E   brown
#6D7340   khaki
#FC531F   highlight

*/

.container {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
}

.app-header {
  background: #BDD4DE;
  color: #F2F2F2;
  margin: 0;
  padding: 24px;
  border-bottom: 2px solid #638BBF;
  flex: 0 0 auto;
  display: flex;
}

.app-header h1 {
  font-weight: 800;
  color: white;
  font-size: 2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin: 0;
  flex: 1 0 0;
}

.app-header h1 span {
  color: #EEEEEE;
}

.app-header .profile {
  flex: 1 0 0;
}

.tap {
  padding: 24px 12px;
  border-bottom: 1px solid #BDD4DE;
  background: #F2F2F2;
}

.tap .no-service {
  font-style: italic;
  font-weight: 400;
}

.tap.no-service {
  opacity: 0.5;
}

.tap .tap-name {
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #6D7340;
}

.tap .beer-name {
  color: #638BBF;
  font-size: 1.5rem;
  margin: 0;
}

.tap .brewery-name {
  color: #89BAD9;
  font-size: 1.2rem;
  margin: 0 0 0.5em;
  font-weight: 400;
}

.tap .abv {
  font-weight: 400;
  font-size: 1.8rem;
  color: #FC531F;
  margin: 0 0 4px;
}

.tap .tapped {
  font-size: 12px;
  margin: 0;
  color: #638BBF;
  white-space: no-wrap;
}

.tap .std {
  font-size: 40%;
  white-space: no-wrap;
}

.tap .notes {
  margin: 1em 0 0;
  font-size: 0.8em;
  font-weight: 200;
}

.tap:nth-child(even){
  background: #FAFAFA;
}

/* layout */

.tap {
  display: flex;
}

.tap .tap-name {
  flex: 1 0 0;
  align-self: center;
  padding: 0 24px;
}

.tap .beer {
  flex: 5 0 0;
}

.tap .beer header {
  display: flex;
}

.tap .beer header .title {
  flex: 2;
}

.tap .beer header .meta {
  flex: 1 0 0;
  align-self: flex-start;
  padding: 0 24px;
  text-align: right;
}

.on-tap-list {
  overflow-y: auto;
  flex: 1 1 auto;
}

.footer {
  text-align: center;
  font-size: 14px;
  padding: 1em;
  margin: 0;
}

.footer a {
  color: #89BAD9;
}

@media (max-width: 600px) {
  .tap {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .tap .tap-name {
    text-align: center;
    flex: 1;
    margin: 0 0 1em;
  }

  .tap .beer {
    flex: 1;
  }
}


