/**
 * Global styles go here.
 * CSS modules are enabled in the build process if you want
 * to declare styles specific to components; put a .scss file
 * in the /components/ComponentName folder and import into the
 * component.
 */


// colour scheme
$darkBlue: #638BBF;
$lightBlue: #89BAD9;
$darkerBlue: #436B9F;
$offGrey: #EEEEEE;
$offWhite: #F2F2F2;
$brown: #59596E;
$khaki: #6D7340;
$highlight: orange;

@import '~normalize.css/normalize.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  color: $brown;
}

.container {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
}



// KegEdit component inlined into tap view
.tap .keg-edit {
  margin: 40px 0 0;
  padding: 40px 0 0;
  border-top: 1px solid #ccc;
}


// App Header
.app-header {
  background: $lightBlue;
  color: $offWhite;
  margin: 0;
  padding: 24px;
  flex: 0 0 auto;
  display: flex;

  h1 {
    font-weight: 800;
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    margin: 0;
    flex: 1 0 0;

    span {
      color: #eee;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

// App Nav
.app-nav {
  padding: 0;
  background: $darkBlue;
  font-size: 18px;
  font-weight: 200;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;

  .btn-toggle-nav {
    display: none;
  }


  a {
    display: block;
    color: $offGrey;
    text-decoration: none;
    padding: 8px 24px;
    flex: 0 0 auto;

    &:hover {
      color: white;
    }
  }

  a + a {
    border-left: 1px solid $lightBlue;
  }

  .btn-app-nav-toggle {
    display: none;
  }

  @media (max-width: 600px) {

    .btn-toggle-nav {
      display: block;
      text-align: right;
    }

    a {
      flex: 0 0 auto;
      width: 100%;
      text-align: center;
      align-self: center;
      border-bottom: 1px solid $lightBlue;
      background: inherit;
    }
  }

}


// Header Profile
.profile {
  position: relative;
  flex: 0 0 auto;

  .profile-avatar {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
  }

  .profile-nobody {
    font-size: 14px;

    a {
      color: white;
    }
  }

  .profile-menu {
    display: none;
    vertical-align: middle;

    &.show {
      display: inline-block;


      a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        margin-left: 1em;

        &:hover, &:focus {
          text-decoration: underline;
        }
      }

    }
  }

}




// App Content
.app-content {
  overflow-y: auto;
  flex: 1 1 auto;
  -webkit-overflow-scrolling: touch;
}

// App Footer
.app-footer {
  text-align: center;
  font-size: 14px;
  padding: 1em;
  margin: 0;

  a {
    color: $lightBlue;
  }
}


// keg list
.keg-list {

  .button-group {
    text-align: center;
    margin: 1em 0 0;
  }

  .keg-list-item {
    border-bottom: 1px solid $lightBlue;
    padding: 24px;
  }

  .beer-summary-view {
    margin: 0 0 1em;
  }

  // hide a few details
  .beer-summary-view .notes,
  .beer-summary-view .ibu,
  .keg-summary-view .keg-rating,
  .beer-summary-view .unavailable
  {
    display: none;
  }
}


.keg-detail {
  padding: 24px;

  .keg {
    margin-bottom: 3em;
  }

  .keg-name {
    margin: 0 0 1em;
    font-size: 2rem;
    color: $darkBlue;
    font-weight: 400;

    a {
      color: inherit;
      text-decoration: none;
      font-weight: 600;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

  .keg-summary {
    margin: 0 0 48px;
  }
}

.cheers-list {

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  .cheers-list-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    background: #fdfdfd;
    padding: 4px 12px;
    border-radius: 4px;

    &:nth-of-type(even) {
      background: #fafafa;
    }

    span {
      flex: 1;
    }
  }

}


// view. applied to most root components.
.view {
  padding: 24px;
}



// tap change view
.tap-change {

  .tap-change--tap-name {
    color: $khaki;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .tap-change--beer-name {
    color: $darkBlue;
    font-size: 1.4rem;
    font-weight: 600;
  }
}

// beer list view
.beer-list-view {

  .beer-list-item.unavailable {
    opacity: 0.75;
  }

  .btn-add-beer {
    margin: 0 auto 2em;
    display: block;
  }
}


.page-header {
  margin: 1em 0 2em;

  .page-title {
    font-size: 2.5rem;
    color: $darkBlue;
    margin: 0 0 0.5em;
  }

  .page-subtitle {
    font-size: 1.5rem;
    color: $khaki;
    font-weight: 400;
    margin: 0;
  }

  p {
    font-size: 1rem;
  }
}

.beer-list {
  margin-bottom: 2em;
}

.beer-list-item {

  display: flex;
  align-items: center;
  border-bottom: 1px solid $offGrey;
  padding: 0.5em 0;

  > header {
    flex: 2 1 0;
  }

  .meta {
    flex: 1 1 0;
  }

  .name {
    color: $lightBlue;
    margin: 0 0 8px;

    a {
      color: inherit;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }

    span {
      font-style: italic;
      font-size: 0.8em;
      color: $darkBlue;
      font-weight: 400;
    }
  }

  .variety {
    margin: 0;
    color: $khaki;
    font-weight: 400;
    font-size: 0.7em;
  }

  .meta {
    align-items: center;
    font-size: 0.7em;
    display: flex;

    span {
      flex: 1 1 0;
      margin-right: 2em;
    }
  }

}


// responsiveness
@media (max-width: 600px) {

  .app-header h1 span {
    display: none;
  }

  .beer-list-view {
    .canbuy-help-text {
      display: none;
    }
  }

  .beer-list-item {
    flex-wrap: wrap;

    > header {
      flex: 0 0 100%;
    }

    .name span {
      display: block;
    }

    .meta {
      display: none;
    }
  }

  .beer-detail-view {
    .beer-summary-view {

      .primary {
        flex: 0 0 100%;
      }

      .meta {
        text-align: left;
        margin: 0.5em 0 0;
      }

      .notes {
        margin: 1em 0;
      }
    }

    button {
      width: 100%;
      margin: 0 0 0.5em;
    }

    .beer-actions button + button {
      margin-left: 0;
    }
  }
}




// circular score thing
.beer-vote-total {
  background: $lightBlue;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: white;
  text-align: center;
  font-size: 0.8em;
  line-height: 30px;
}

// beer detail view
.beer-detail-view {
  padding: 24px;

  .beer-summary-view, .beer-kegs-list {
    border-bottom: 1px solid $offWhite;
    margin-bottom: 2em;
  }

  .beer-summary-view .name a {
    pointer-events: none; // disable link to current page
  }
}

// beer details. name, brewery, etc.
.beer-summary-view {
  display: flex;
  flex-flow: row wrap;

  .primary {
    flex: 3 1 0;
  }

  .meta {
    flex: 1 1 0;
    font-size: 1.5rem;
    color: $lightBlue;
    text-align: right;

    p {
      margin: 0 0 0.25em;
    }

    .sd {
      font-size: 0.6em;
    }

    .avatar {
      display: block;
      margin: 0;
    }

    .can-buy {
      width: 40px;
      height: 40px;
    }
  }

  .name {
    margin: 0 0 4px;
    font-size: 2rem;
    color: $darkBlue;

    a {
      font: inherit;
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .brewery-name {
    margin: 4px 0;
    font-size: 1.25rem;
    color: $lightBlue;
    font-weight: 400;
  }

  .variety {
    margin: 4px 0 0;
    font-size: 1rem;
    color: $khaki;
    font-weight: 400;
  }

  .unavailable {
    font-size: 1rem;
    font-weight: bold;
    color: $khaki;
  }

  .notes {
    flex: 0 0 100%;
    width: 100%;
    font-weight: 200;
    font-size: 1.2rem;
    white-space: pre-wrap;
    margin: 2em 0;
  }
}

.beer-actions {
  margin: 2em 0;

  button {
    font-size: 1rem;
  }

  button + button {
    margin-left: 0.5em;
  }
}

.beer-kegs-list {
  padding: 0 0 2em;
  font-size: 1rem;

  .title {
    color: $darkBlue;
    font-size: 1.2rem;
  }

  a {
    text-decoration: none;
    color: $lightBlue;

    &:hover {
      text-decoration: underline;
    }
  }

  .list {

    border: 1px solid #f2f2f2;
    border-radius: 2px;

    .list-item {

      background: #fafafa;

      &:nth-child(even){
        background: $offWhite;
      }

      display: flex;
      padding: 12px 16px;
      align-items: center;

      .keg-cheers, .keg-tapped {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
      }
    }
  }
}

.keg-summary-view {

  display: flex;

  .keg-summary {
    flex: 3;
  }

  .keg-rating {
    flex: 1;
  }

  .now-on-tap {
    color: $highlight;
    font-weight: 600;
    margin: 0;
  }

  .tapped {
    color: $darkBlue;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }

  .notes {
    font-weight: 200;
    font-size: 1rem;
    color: $khaki;
  }
}


.keg-summary__cheers {
  display: flex;
  align-items: center;

  .icon {
    width: 45px;
    height: 45px;
    cursor: pointer;
  }

  .count {
    font-size: 36px;
    margin: 0;
    padding-left: 16px;
    color: $darkBlue;
    cursor: pointer;
  }
}

.cheers-modal {
  position: fixed;
  background: rgba(255, 255, 255, 0.3);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  .cheers-modal__contents {
    width: 320px;
    max-width: 96%;
    margin: 5% auto;
    cursor: auto;
    border: 1px solid $darkBlue;
    background: white;
    box-shadow: 0 0 24px $darkBlue;
    padding: 36px;
    text-align: center;

    .cheers-modal__contents__title  {
      margin: 0 0 24px;
      font-size: 20px;
      color: $brown;
    }

    .cheers-modal__contents__button  {
      width: 240px;
      height: 240px;
      max-width: 100%;
      max-height: auto;
      border: 10px solid $lightBlue;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        border-color: $highlight;
      }

    }



  }


}


// buttons
button {
  border: 1px solid #ddd;
  border-radius: 4px;
  background: white;
  font-weight: 200;
  color: #89BAD9;

  cursor: pointer;
  padding: 0.5em 1em;

  &:hover {
    border: 1px solid #bbb;
  }
}

// button group
.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    font-size: 0.7em;
    border-radius: 0;
    margin-left: -1px; // collapse borders
    outline: none;
    flex: 0 0 auto;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    &:hover {
      background: $offWhite;
    }

    &.active {
      background: $offGrey;
    }
  }

  @media (max-width: 600px) {

    button {
      flex: 1 1 auto;
    }

  }
}


// emoji for rating beer

.emoji {
  background-size: 100%;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.emoji-happy {
  @extend .emoji;
  background-image: url('../images/emoji-happy.svg');
}

.emoji-meh {
  @extend .emoji;
  background-image: url('../images/emoji-meh.svg');
}

.emoji-sad {
  @extend .emoji;
  background-image: url('../images/emoji-sad.svg');
}

.emoji-beer {
  @extend .emoji;
  background-image: url('../images/emoji-beer.svg');
}

.emoji-beers {
  @extend .emoji;
  background-image: url('../images/emoji-beers.svg')
}

// rate kegs
.keg-rating {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;

  .rating {
    margin-left: 24px;
    .icon {
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin-left: 6px;
      cursor: pointer;
    }
  }

  color: $lightBlue;
  font-size: 14px;

  span {
    font-size: 1rem;
  }
}


// keg detail cheers list
.keg-detail-cheers {
  h3 {
    color: $darkBlue;
    font-size: 1.5rem;
    margin: 0 0 0.5em;

    .emoji {
      vertical-align: bottom;
    }
  }

  .rating-group {
    margin: 0 0 1em;
  }
}


// user detail
.user-detail {

  header {
    display: flex;
    align-items: center;
    margin: 0 0 2em;

    h2 {
      order: 1;

      .btn-edit-user {
        display: block;
        margin: 8px 0 0;
        font-size: 14px;
        color: $darkerBlue;

        a {
          cursor: pointer;

          &:hover, &:focus {
            text-decoration: underline;
          }
        }
      }
    }

    .avatar {
      order: 0;
      margin-right: 1em;
      width: 110px;
    }
  }

  padding: 24px;

  h2 {
    color: $darkBlue;
  }

  .avatar {
    border-radius: 12px;
  }
}

// user detail ratings
.user-detail-ratings {

  .emoji {
    vertical-align: bottom;
  }

  .rating {
    margin: 0 0 0.5em;
  }

  a {
    color: $lightBlue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// user list

.user-list__list {

  .user-list__list-item {
    display: block;
    text-decoration: none;
    background: #eee;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 4px 8px;
    cursor: pointer;
    color: $darkerBlue;

    &:nth-child(even) {
      background: #fafafa;
    }

    &:hover{
      background: $lightBlue;
      color: white;
    }

    span {
      flex: 1;
    }

    .user-list__list-item__admin {
      flex: 0;
      font-size: 16px;
      color: skyblue;
    }



  }

}


// notifications

.notifications {
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  font-size: 1rem;

  .notification {
    display: block;
    text-align: center;
    margin: 0;
    padding: 12px;
    cursor: pointer;
    background: $offWhite;
    border-bottom: 1px solid white;
    animation: fadein 0.25s linear;
    overflow: hidden;

    &:hover {
      background: #ddd !important;
    }

    &:nth-child(odd) {
      background: $offGrey;
    }
  }
}

// crud forms
.edit-form {
  font-size: 1.2rem;

  h1 {
    color: #638BBF;
    font-size: 1.6em;
    margin: 0 0 1em;
  }

  label {
    font-weight: 200;
    color: #638BBF;
    display: block;
    margin-bottom: 0.5em;
    font-size: 1em;
  }

  input, textarea, select {
    line-height: 1em;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
    display: block;
    width: 100%;
    margin: 0 0 1.5em;
    padding: 0.5em;
  }

  textarea {
    height: 4em;
  }

  input[type=checkbox] {
    // display: inline-block;
    width: auto;
    margin: 0 1em 1.5em 0;
  }

}

// list view search box
.list-search {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0.5em;

  input {
    font-size: 1rem;
    padding: 6px;
    border-radius: 4px;
    color: $brown;
    border: 1px solid $offGrey;
    outline: none;

    @media (max-width: 600px) {
      width: 100%;
    }

    &:focus {
      border: 1px solid $lightBlue;
    }

  }
}


// avatars

.avatar {
  // make them sit horizontally by default
  display: inline-block;
  margin-right: 16px;

  img {
    border-radius: 4px;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
